.about-me {
    text-align: center;

    &__header {
        @extend %heading-medium;
    }

    &__image {
        border-radius: 50%;
        margin-bottom: 1rem;
        max-width: 180px;
    }

    &__information {
        margin: auto;
        max-width: 500px;
    }
}
